# Βασεις Δεδομένων ΙΙ

# Δημιουργία αρχείου year.

In [2]:
import io
year = [i+1960 for i in range(60)]
five_year_period = ["1960-1964","1965-1969","1970-1974","1975-1979","1980-1984","1985-1989","1990-1994","1995-1999","2000-2004","2005-2009","2010-2014","2015-2019"]
ten_year_period = ["1960-1969","1970-1979","1980-1989","1990-1999","2000-2009","2010-2019"]
twenty_year_period = ["1960-1979","1980-1999","2000-2019"]
year

[1960,
 1961,
 1962,
 1963,
 1964,
 1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019]

In [23]:
five=[]
ten =[]
twenty=[]
for i in range(60):
    if(i+1960 >=2000 and i+1960 <=2019):
        twenty.append("2000-2019")
        if(i+1960>=2000 and i+1960<=2009):
            ten.append("2000-2009")
            if(i+1960>=2000 and i+1960<=2004):
                five.append("2000-2004")
            elif(i+1960>=2005 and i+1960<=2009):
                five.append("2005-2009")
        if(i+1960>=2010 and i+1960<=2019):
            ten.append("2010-2019")
            if(i+1960>=2010 and i+1960<=2014):
                five.append("2010-2014")
            elif(i+1960>=2015 and i+1960<=2019):
                five.append("2015-2019")
    elif(i+1960 >=1980 and i+1960 <=1999):
        twenty.append("1980-1999")
        if(i+1960>=1980 and i+1960<=1989):
            ten.append("1980-1989")
            if(i+1960>=1980 and i+1960<=1984):
                five.append("1980-1984")
            elif(i+1960>=1985 and i+1960<=1989):
                five.append("1985-1989")
        if(i+1960>=1990 and i+1960<=1999):
            ten.append("1990-1999")
            if(i+1960>=1990 and i+1960<=1994):
                five.append("1990-1994")
            elif(i+1960>=1995 and i+1960<=1999):
                five.append("1995-1999")
    elif(i+1960 >=1960 and i+1960 <=1979):
        twenty.append("1960-1979")
        if(i+1960>=1960 and i+1960<=1969):
            ten.append("1960-1969")
            if(i+1960>=1960 and i+1960<=1964):
                five.append("1960-1964")
            elif(i+1960>=1965 and i+1960<=1969):
                five.append("1965-1969")
        if(i+1960>=1970 and i+1960<=1979):
            ten.append("1970-1979")
            if(i+1960>=1970 and i+1960<=1974):
                five.append("1970-1974")
            elif(i+1960>=1975 and i+1960<=1979):
                five.append("1975-1979")

In [25]:
import pandas as pd
data= {"year":year, "five":five,"ten":ten,"twenty":twenty}
df = pd.DataFrame(data=data)
df

    year       five        ten     twenty
0   1960  1960-1964  1960-1969  1960-1979
1   1961  1960-1964  1960-1969  1960-1979
2   1962  1960-1964  1960-1969  1960-1979
3   1963  1960-1964  1960-1969  1960-1979
4   1964  1960-1964  1960-1969  1960-1979
5   1965  1965-1969  1960-1969  1960-1979
6   1966  1965-1969  1960-1969  1960-1979
7   1967  1965-1969  1960-1969  1960-1979
8   1968  1965-1969  1960-1969  1960-1979
9   1969  1965-1969  1960-1969  1960-1979
10  1970  1970-1974  1970-1979  1960-1979
11  1971  1970-1974  1970-1979  1960-1979
12  1972  1970-1974  1970-1979  1960-1979
13  1973  1970-1974  1970-1979  1960-1979
14  1974  1970-1974  1970-1979  1960-1979
15  1975  1975-1979  1970-1979  1960-1979
16  1976  1975-1979  1970-1979  1960-1979
17  1977  1975-1979  1970-1979  1960-1979
18  1978  1975-1979  1970-1979  1960-1979
19  1979  1975-1979  1970-1979  1960-1979
20  1980  1980-1984  1980-1989  1980-1999
21  1981  1980-1984  1980-1989  1980-1999
22  1982  1980-1984  1980-1989  1980-1999
23  1983  1980-1984  1980-1989  1980-1999
24  1984  1980-1984  1980-1989  1980-1999
25  1985  1985-1989  1980-1989  1980-1999
26  1986  1985-1989  1980-1989  1980-1999
27  1987  1985-1989  1980-1989  1980-1999
28  1988  1985-1989  1980-1989  1980-1999
29  1989  1985-1989  1980-1989  1980-1999
30  1990  1990-1994  1990-1999  1980-1999
31  1991  1990-1994  1990-1999  1980-1999
32  1992  1990-1994  1990-1999  1980-1999
33  1993  1990-1994  1990-1999  1980-1999
34  1994  1990-1994  1990-1999  1980-1999
35  1995  1995-1999  1990-1999  1980-1999
36  1996  1995-1999  1990-1999  1980-1999
37  1997  1995-1999  1990-1999  1980-1999
38  1998  1995-1999  1990-1999  1980-1999
39  1999  1995-1999  1990-1999  1980-1999
40  2000  2000-2004  2000-2009  2000-2019
41  2001  2000-2004  2000-2009  2000-2019
42  2002  2000-2004  2000-2009  2000-2019
43  2003  2000-2004  2000-2009  2000-2019
44  2004  2000-2004  2000-2009  2000-2019
45  2005  2005-2009  2000-2009  2000-2019
46  2006  2005-2009  2000-2009  2000-2019
47  2007  2005-2009  2000-2009  2000-2019
48  2008  2005-2009  2000-2009  2000-2019
49  2009  2005-2009  2000-2009  2000-2019
50  2010  2010-2014  2010-2019  2000-2019
51  2011  2010-2014  2010-2019  2000-2019
52  2012  2010-2014  2010-2019  2000-2019
53  2013  2010-2014  2010-2019  2000-2019
54  2014  2010-2014  2010-2019  2000-2019
55  2015  2015-2019  2010-2019  2000-2019
56  2016  2015-2019  2010-2019  2000-2019
57  2017  2015-2019  2010-2019  2000-2019
58  2018  2015-2019  2010-2019  2000-2019
59  2019  2015-2019  2010-2019  2000-2019

In [26]:
df.to_csv("C:/Users/User/Desktop/[ΜΥΕ030ΠΛΕ045] Προχωρημένα Θέματα Τεχνολογίας και Εφαρμογών Βάσεων Δεδομένων/a/year.csv",index=False)

# Δημιουργία αρχείου indicator.

In [26]:
import pandas as pd 
import io

data = pd.read_csv("C:/Users/User/Desktop/[ΜΥΕ030ΠΛΕ045] Προχωρημένα Θέματα Τεχνολογίας και Εφαρμογών Βάσεων Δεδομένων/a/data_per_country.csv")

data

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
0,Greece,GRC,Chemicals (% of value added in manufacturing),NV.MNF.CHEM.ZS.UN,NaN,NaN,NaN,6.802491,6.656856,8.700563,...,7.783346,8.296627,12.080713,11.036588,10.302069,10.302258,NaN,NaN,NaN,NaN
1,United States,USA,Chemicals (% of value added in manufacturing),NV.MNF.CHEM.ZS.UN,NaN,NaN,NaN,10.404051,10.582964,10.399327,...,16.335679,15.855052,15.754095,15.930833,16.315987,16.315987,NaN,NaN,NaN,NaN
2,Portugal,PRT,Chemicals (% of value added in manufacturing),NV.MNF.CHEM.ZS.UN,NaN,NaN,NaN,9.332609,8.973807,9.413124,...,6.072750,5.845151,5.927200,5.924753,6.512717,6.512784,NaN,NaN,NaN,NaN
3,Mexico,MEX,Chemicals (% of value added in manufacturing),NV.MNF.CHEM.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.980213,11.618526,11.406517,10.083878,8.641424,9.026931,NaN,NaN,NaN,NaN
4,Japan,JPN,Chemicals (% of value added in manufacturing),NV.MNF.CHEM.ZS.UN,NaN,NaN,NaN,10.664572,11.031209,11.286598,...,11.653679,11.426323,11.634216,10.953702,10.953702,10.953702,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Greece,GRC,CO2 emissions from electricity and heat produc...,EN.CO2.ETOT.ZS,26.912568,26.474128,27.171492,27.622015,27.568042,29.960784,...,55.105270,59.579439,60.328059,58.105647,NaN,NaN,NaN,NaN,NaN,NaN
96,Japan,JPN,CO2 emissions from electricity and heat produc...,EN.CO2.ETOT.ZS,32.668388,33.042806,34.614748,34.565993,34.582071,35.075397,...,51.710531,53.617194,53.854912,53.096422,NaN,NaN,NaN,NaN,NaN,NaN
97,Mexico,MEX,CO2 emissions from electricity and heat produc...,EN.CO2.ETOT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,44.677299,46.007779,44.649751,44.066184,NaN,NaN,NaN,NaN,NaN,NaN
98,Portugal,PRT,CO2 emissions from electricity and heat produc...,EN.CO2.ETOT.ZS,9.046053,7.747489,11.111111,9.640103,13.244228,15.234822,...,40.688776,44.305738,42.968214,41.111890,NaN,NaN,NaN,NaN,NaN,NaN
99,United States,USA,CO2 emissions from electricity and heat produc...,EN.CO2.ETOT.ZS,27.635213,28.017193,28.325453,29.127992,29.138553,30.136187,...,48.227431,46.952348,46.630820,45.990406,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
measurement = []
for i in range(100):
    for j in range(60):
        measurement.append(data.iloc[i][j+4])
measurement

[nan,
 nan,
 nan,
 6.80249118910829,
 6.65685613260572,
 8.700562977604429,
 8.3438625307979,
 9.29352965014183,
 8.688028866922469,
 9.848878496579198,
 8.70028314530946,
 9.14341769668432,
 9.91917863430984,
 8.67246088899925,
 9.039154360821891,
 9.77039393127033,
 9.481761229078051,
 8.62705434930244,
 8.41954056961801,
 8.23772376324395,
 8.071119368129361,
 8.34150757911753,
 8.92965062462228,
 8.872375751059689,
 9.081361543046349,
 8.94973981739409,
 8.901271791815311,
 9.089560795078171,
 9.21486526455471,
 9.522904977140481,
 9.79873543540492,
 9.70091251006732,
 9.40555159254381,
 10.5632349739824,
 11.3410064820236,
 10.2242539649973,
 10.6115801371497,
 9.25333711454533,
 9.54432971243246,
 9.73173806875295,
 9.73173806612497,
 5.37722153292668,
 5.37722153619242,
 5.1553245338904405,
 5.97408804018381,
 5.80658707778556,
 5.99799070915611,
 6.46598663850799,
 8.267659108429308,
 8.61773168357563,
 4.537837229740799,
 7.78334628429525,
 8.29662699288331,
 12.080712922031699,
 11.0365883685395,
 10.302069356076302,
 10.3022584602509,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 10.404050950094,
 10.582964009155999,
 10.399327076323699,
 10.4177514318901,
 10.398805878750801,
 10.4144676658926,
 10.297897581229801,
 10.3664851501687,
 10.3776295208606,
 9.43080673507568,
 9.218734528171108,
 10.0736664595722,
 10.3909068221521,
 10.2318914567339,
 9.85497296833433,
 9.52904862320834,
 9.59066055859317,
 9.670087024288868,
 9.74226804123711,
 9.61004819629035,
 10.050714090785,
 9.87048745665919,
 9.800891172574369,
 9.944045383260079,
 10.595222724338301,
 11.221555639212198,
 11.3612653800129,
 11.7425932789254,
 12.0082151828184,
 11.789685981651099,
 11.7400553705521,
 11.584825758369998,
 11.7608869327457,
 11.760886932618599,
 12.4204245095438,
 12.2970088824435,
 11.765016369184199,
 11.837596249976599,
 12.251477700736801,
 13.289489967030098,
 13.630544985399801,
 14.466468506499698,
 14.937196445706698,
 15.2432843097178,
 15.5045631683918,
 15.6560946637851,
 15.6560946634951,
 16.1928930474265,
 16.3356786185457,
 15.855052178836301,
 15.7540954828929,
 15.930833455720197,
 16.3159866398598,
 16.3159866530092,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 9.33260850326806,
 8.973807079704631,
 9.41312406720909,
 9.43673498121277,
 9.846741098123381,
 10.0809158165711,
 10.4417989943757,
 9.96791865557062,
 11.538311104157698,
 9.68980876430267,
 9.64419742868966,
 9.66938047692534,
 8.94945341092225,
 7.78964514151669,
 7.5875950736721505,
 7.3313846597455194,
 6.66798672854859,
 6.625564152736059,
 6.26037323028617,
 6.2242689429879805,
 7.820541057519179,
 8.61323948316964,
 9.727426774273539,
 10.3751773490029,
 9.882103461207429,
 12.5785170487004,
 9.52435273770775,
 6.0859633714603305,
 5.698600945056981,
 5.908340297509611,
 5.46495928040658,
 5.11499039441088,
 4.784217727541691,
 6.233400531182999,
 6.526283081327231,
 6.52628290179659,
 5.5828402596814595,
 5.369605204622929,
 5.329295180715549,
 5.44809504810812,
 5.66369932708783,
 nan,
 5.941176590775759,
 nan,
 6.1227273061219005,
 6.4150489524323895,
 5.7649720075865,
 5.893812801271441,
 6.07274982800279,
 5.8451506106001405,
 5.9272002515889595,
 5.924752716022309,
 6.51271655484475,
 6.51278431396098,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 17.4713407433137,
 17.6129275280895,
 18.5368446739984,
 18.3172114896952,
 18.1940280835384,
 11.8205618762323,
 17.5562802418223,
 17.0186095298529,
 16.8610291936994,
 16.5927060112802,
 14.752480121226599,
 16.5368811070874,
 15.693721348598098,
 15.625191171012402,
 15.318728819084498,
 15.6768975811298,
 15.3607425303299,
 16.4979517098507,
 17.170898448854,
 14.4534828081209,
 18.6087787302108,
 18.779386663266102,
 18.5175822763745,
 17.3880082285825,
 17.457847392678097,
 11.711761575756901,
 11.232957413713699,
 11.980212979122902,
 11.6185263881841,
 11.406516829242001,
 10.0838776699739,
 8.64142382773296,
 9.02693114162222,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 10.664572369170699,
 11.03120908855,
 11.286598319017301,
 10.977250946728802,
 10.9888070328365,
 10.8350607997504,
 11.049851505114301,
 10.548182830718401,
 10.612019445543,
 9.50427645820558,
 9.091131212021,
 9.22309350894246,
 9.16210233466418,
 8.828912055850179,
 8.918243672094329,
 9.09002533229877,
 9.189321295590789,
 8.67956709106643,
 8.551057933797441,
 8.6904412048727,
 9.19859272024072,
 9.157832463174712,
 8.8649274891005,
 9.57795039660144,
 10.0,
 9.83323599676681,
 9.89790319094099,
 9.51348337231456,
 9.26242066097614,
 9.77255479498373,
 10.0285561024864,
 10.104526514477,
 10.2029495101219,
 9.95036555100946,
 10.093626395634098,
 9.98170683210053,
 10.6107118015303,
 10.4003339140534,
 10.8559033997928,
 11.2825091857052,
 11.344533555039598,
 11.2378812958146,
 10.7257410055261,
 10.1915979510826,
 9.91540012335564,
 10.213989437073302,
 11.853273400714901,
 11.653678271830099,
 11.6536787873823,
 11.426323221668301,
 11.6342160063573,
 10.953702393599999,
 10.9537022737092,
 10.953702274110901,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 6.1001343293829,
 6.56371454085908,
 6.96436382786255,
 6.7656705771772305,
 7.21802494523671,
 6.65864304882122,
 6.16650850092486,
 5.908294188861349,
 6.58977050163067,
 7.11815321576921,
 6.25350651971984,
 6.86900351567379,
 7.134942585783921,
 6.40027553573388,
 6.250013595419179,
 6.35213640388337,
 5.75916033430462,
 6.29906199718295,
 6.4118434544547,
 6.066296184342081,
 6.4914349991424904,
 6.83473984397943,
 6.85419249760244,
 7.39549551651462,
 7.30548250481539,
 7.49420078155237,
 7.60690419521523,
 7.702525612846941,
 6.58547924206415,
 7.2631108122213695,
 7.041131562064541,
 7.0571323182182,
 6.40774378017609,
 6.305522449495849,
 6.1968963870271505,
 5.79242340293815,
 6.055839440756951,
 5.18342671829486,
 5.3028912730022,
 5.36874040766549,
 5.649816257771191,
 6.45107172977651,
 6.254114341451241,
 5.852362204996999,
 5.898895506764609,
 6.87180014472805,
 5.5442314211266694,
 8.85339051962361,
 3.3258520538335197,
 3.9417862412656497,
 3.9417862409466498,
 10.983028055997801,
 7.155010737779111,
 7.42713785410512,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 10.5416216865742,
 9.38399539435809,
 9.97930336960985,
 10.0886777533329,
 10.1330861290465,
 10.8356119942531,
 11.0346506126475,
 11.1111153728285,
 10.443805592562198,
 10.534133134599001,
 10.7508353572357,
 11.583786220962901,
 11.993265610225999,
 11.755984327863601,
 10.6052157253341,
 8.62643042535117,
 9.01451693200716,
 8.68572730481088,
 8.801586833892749,
 9.24606814900553,
 9.27738160715269,
 9.777355656103971,
 11.043769602218498,
 10.5473996115377,
 10.463817792005699,
 10.6271644355256,
 10.376346204949801,
 10.3061015330396,
 10.102574422364901,
 10.139385141888699,
 9.78466633243343,
 10.2253886628582,
 10.2890817155,
 9.68587888917135,
 9.79975386467679,
 9.508016837373711,
 9.46303141036303,
 9.5227567919586,
 9.31797742865078,
 9.01153725182548,
 8.757777252999821,
 8.693156822837139,
 8.634402992152081,
 8.45234271614242,
 8.52106784859915,
 9.61924757101418,
 9.81218863742565,
 10.748596287710098,
 10.997710737027099,
 11.4647598266606,
 11.6461599142496,
 12.290871424080901,
 12.2353035426968,
 12.2353035681065,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 11.344572647318198,
 11.453411036722901,
 11.5889984431759,
 11.828557095378402,
 11.996562682404802,
 10.049000443089101,
 10.1812692441324,
 11.2596469531173,
 12.016130999325199,
 12.181253408578902,
 13.1073493440071,
 12.8259657506969,
 11.9765713238393,
 9.77536134810907,
 9.95014046265526,
 11.4062272543469,
 11.867664616356,
 11.5288408831766,
 11.4096122189066,
 11.9087529144874,
 12.028193153047399,
 11.5254178971296,
 11.3085596547335,
 10.945597656802098,
 11.1238096738042,
 10.989953659925098,
 10.4352318848741,
 10.793602208064101,
 10.793602207929599,
 10.7936022085299,
 10.793602208278198,
 10.811382829637301,
 10.8113828296427,
 10.811382829725803,
 10.811382829900598,
 10.8113828300648,
 10.811382830069899,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 7.771198771885719,
 7.819100175277231,
 7.92172111511471,
 8.13352159479206,
 8.16023523748489,
 8.13570057148194,
 7.727207129198691,
 7.17699232175524,
 7.03021082435905,
 7.4915007327711,
 7.151792262964291,
 8.472978677114579,
 7.588694830549519,
 6.987276315126589,
 7.1084379755145095,
 6.913543762048639,
 7.6824426554358105,
 7.351587485762909,
 7.0190608594193495,
 6.567910068579019,
 6.870418641188741,
 7.3891456672142395,
 7.1157934877273,
 6.817310040743,
 7.1619985135609605,
 8.459924703346902,
 7.77206608815476,
 7.49257567738028,
 7.4587401618985,
 7.32209478943251,
 7.5748753676474,
 7.48321725037448,
 5.14734038252751,
 5.18925839426547,
 6.246589070980541,
 6.5424224741499195,
 6.23939868751146,
 6.85756668907554,
 5.4589480238764905,
 6.18689478371938,
 6.63058375224417,
 6.2902654659079404,
 6.73847550724933,
 7.01692396729343,
 7.063658625705861,
 6.49518537655675,
 7.42629533411955,
 8.23868263272743,
 8.09367633869131,
 6.80778142706602,
 7.67330899355812,
 8.28993841979885,
 8.63177294368518,
 8.6317227548247,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 6.80147058823529,
 6.8850406843313205,
 6.87732342007435,
 6.72622175512349,
 7.08386277001271,
 7.13025580711555,
 7.07585097829,
 6.947981084030559,
 6.79744525547445,
 6.9453044375645,
 7.0801419764618005,
 7.07270650932623,
 6.6986589534578,
 6.58190419869899,
 6.72115785089546,
 7.303121455693081,
 7.37350049607649,
 7.38658546107597,
 7.570502715011389,
 7.73130140916916,
 7.95001927277399,
 8.043897028778241,
 8.075650610883889,
 8.11944304646871,
 8.34248802566243,
 8.356821533235019,
 7.80882611686047,
 7.303159840563801,
 7.83464841840654,
 8.60323886601359,
 8.898880312797411,
 8.86335393506368,
 7.92095473843171,
 7.920954739077881,
 8.81573674132787,
 8.22674071095558,
 8.40847656975425,
 8.37201775943849,
 8.28475803908404,
 7.53944105923686,
 6.9012072338317,
 6.980129333280639,
 7.131803657708519,
 7.307800466359941,
 6.83821075977939,
 7.02987534097363,
 7.9778686552802505,
 8.69729299687889,
 8.857401971778788,
 8.49081583618551,
 8.47581274916773,
 8.98588463843594,
 9.32713292133227,
 9.495649741781461,
 nan,
 nan,
 nan,
 103.86562371864001,
 104.943692536133,
 107.180043506832,
 107.553888846181,
 111.63015728911199,
 112.51103644741998,
 108.38173543171101,
 108.03754190984002,
 110.145306007773,
 111.294374809259,
 110.620250886464,
 110.512100349318,
 111.135369856586,
 113.52596052054301,
 109.87893352633002,
 109.545463249314,
 109.609087597574,
 108.713777256716,
 107.648229703579,
 106.651655414926,
 106.69190520948798,
 103.74065352975201,
 108.387342426777,
 109.107715188242,
 108.293189757936,
 109.53316187102199,
 108.24810018676001,
 105.596310195788,
 107.42910649584101,
 109.55783746037599,
 111.61545508678002,
 111.436551355712,
 109.603248301546,
 109.333461898918,
 107.261596746839,
 108.257313816478,
 108.92231899794399,
 106.82969826338001,
 109.67511349878299,
 108.865440728511,
 110.978915783156,
 110.562480757475,
 110.12328730436501,
 111.100805406376,
 108.48221244637699,
 108.276403265463,
 110.50222101540899,
 112.48383465337,
 112.606577439958,
 109.779473149215,
 108.624687689032,
 106.773791134053,
 104.44977861250099,
 102.81228543495001,
 102.40337233467301,
 99.9486194038427,
 100.71303577583099,
 101.01976225133801,
 100.261237657211,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 99.63216351766458,
 99.9467742627806,
 100.263620798837,
 99.71165502997101,
 100.05274251363701,
 99.0518154150029,
 100.087060401022,
 101.10931461130801,
 101.07871282476299,
 100.858056113155,
 100.456933749156,
 100.390359714653,
 100.597346303849,
 101.42106384138,
 102.54425077391,
 102.62776104701099,
 102.879467799917,
 102.981742312132,
 102.089072762821,
 101.53751254081301,
 101.305586449028,
 100.464654118158,
 100.53278002775,
 100.95025791860901,
 101.26917805324301,
 101.1749207991,
 101.193788474892,
 101.188783323264,
 101.795355321179,
 102.656439811772,
 103.65819253084,
 103.47700634065501,
 103.889764500606,
 104.39097061781,
 105.068688240496,
 105.53201406445,
 105.580479702952,
 104.971176146952,
 104.914678031465,
 102.743801042707,
 103.42783128073201,
 103.728228227491,
 103.510350021759,
 102.923963179201,
 102.92875750145201,
 102.88335713041599,
 102.815274847209,
 103.12729191720301,
 103.281163715338,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 105.450439568086,
 105.503194479625,
 103.975980322353,
 106.645512298787,
 113.8942571086,
 108.871198187497,
 110.97059694316499,
 113.61353510724,
 111.150645720077,
 109.59150844313,
 113.727912286794,
 118.196105607853,
 117.46678402250299,
 111.52122974382401,
 106.394209187283,
 102.470293350942,
 101.301320632029,
 104.56970297675699,
 108.018576847971,
 105.786360307345,
 106.657657367575,
 107.360014247344,
 107.558163809001,
 107.144345526274,
 107.021968850072,
 106.375008414435,
 107.112875287922,
 107.996662007275,
 109.167644402284,
 110.350380367833,
 111.04375679854401,
 110.217302950059,
 108.161534951782,
 106.404563692582,
 107.87049055652399,
 108.77616946854499,
 107.83224423600099,
 107.557748439124,
 109.553584765387,
 106.905208090619,
 107.644677605902,
 104.189820799681,
 100.49480922459699,
 98.90142467398329,
 99.8503718710051,
 99.26066293231199,
 98.85258235368151,
 98.9906077254175,
 99.91329557885729,
 nan,
 101.23073619631901,
 100.153728813559,
 99.8768421052632,
 99.593679245283,
 100.011235059761,
 99.68256410256409,
 99.18236842105259,
 99.9840963855422,
 100.333678474114,
 99.5249753694581,
 101.965540540541,
 101.08112244898001,
 100.721327433628,
 101.03706222865401,
 102.1292,
 102.730163636364,
 101.375098468271,
 99.9173120605733,
 100.585823705605,
 101.246355932203,
 96.89055082246419,
 97.1463794187532,
 89.3852562676381,
 86.19377530288081,
 87.8576945969186,
 89.6957754236703,
 92.44397948734002,
 89.2570639547812,
 99.44217880028678,
 100.777248522836,
 101.66814119802099,
 103.338453039413,
 105.164376701075,
 101.52127588862699,
 103.022958574352,
 95.7431198959127,
 96.5644901556477,
 97.5534027064909,
 98.9074735086831,
 99.0340010477458,
 100.41165061061899,
 99.6161201198373,
 100.745465806282,
 102.356795634091,
 100.304581047414,
 101.27592615098,
 100.43085785897699,
 100.68972488851699,
 101.76900069597,
 100.634429709574,
 99.9138325302911,
 99.8649863778775,
 100.55785195383699,
 101.153570718947,
 99.9723273672263,
 101.1705369205,
 101.342013437668,
 99.86751487571091,
 99.18249178309419,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 98.8917073426344,
 97.34184990965291,
 97.7735308921487,
 100.27218863120702,
 101.232360722876,
 100.278292075884,
 99.3726544185067,
 98.4648209290506,
 98.30595262262041,
 100.960126273088,
 100.973602765124,
 99.38671438939079,
 99.45184052770522,
 98.46544525825769,
 97.5540747378294,
 96.8096953423278,
 96.32641900208021,
 97.2315540437807,
 98.0364108043514,
 98.64863261721969,
 99.2231847507267,
 98.50179788396039,
 97.9456659229121,
 97.85814803822399,
 98.0971520186817,
 98.7359077319953,
 99.566361719483,
 98.9430348642918,
 98.1830422964142,
 98.4454205681574,
 98.5706826958493,
 99.33991070831058,
 98.6491886798523,
 98.3045424656971,
 97.97831103562729,
 98.49061153967091,
 98.58597702663441,
 98.1072741505266,
 99.55096418256642,
 99.4490511766064,
 98.5394937463263,
 100.54301055028601,
 101.546618576313,
 102.316726009767,
 102.465166693911,
 100.419088466118,
 99.0098629368208,
 99.0651265340835,
 99.74504020680959,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 100.353896001997,
 100.530121645098,
 98.5399552952167,
 98.45476920696008,
 103.04857730854499,
 105.904866401429,
 100.48884827007099,
 100.161244769751,
 96.2216118406535,
 98.1159657285067,
 100.840835487417,
 98.5446712375548,
 99.89953975188659,
 99.76545485005859,
 97.95735129068458,
 98.7174864795261,
 98.14652353532291,
 99.26457558036509,
 99.5138354860993,
 101.68236485778499,
 101.065315141987,
 101.182982542952,
 99.35717487202471,
 95.75652214495729,
 94.7139913387475,
 93.2003368882485,
 93.9451230861162,
 93.16198435116921,
 92.6780882182048,
 91.50934476346559,
 91.4022075314053,
 90.65533644937359,
 90.9331519469849,
 92.9772189602567,
 93.4340316708449,
 95.6529659293083,
 95.1352539373153,
 94.8939445774889,
 96.13363189457701,
 97.6857939883464,
 98.39909005384199,
 100.567682501843,
 101.530066604655,
 101.054223501255,
 100.949747942213,
 100.478450802776,
 101.24744808813499,
 99.9273645282016,
 100.331836231569,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 101.911976196992,
 99.9923780832021,
 100.701023666388,
 101.78032059071501,
 105.98427435996099,
 104.94672662253599,
 105.51512007161101,
 103.026996575572,
 100.136999135309,
 100.620864196894,
 103.30512178239799,
 103.05518614559601,
 102.785865584797,
 101.73794377976299,
 98.9539594721637,
 99.17488899405839,
 99.10339696645941,
 101.04483803630501,
 102.301630427294,
 104.407288140224,
 104.42641007038799,
 104.22111584678801,
 103.849475090478,
 101.710793103623,
 101.08780097806,
 101.12117554083,
 100.18049766661301,
 99.8266790944175,
 100.457559717478,
 101.93344893515899,
 ...]

In [29]:
indicator = data[["Indicator Code","Indicator Name"]].drop_duplicates()
indicator

       Indicator Code                                     Indicator Name
0   NV.MNF.CHEM.ZS.UN      Chemicals (% of value added in manufacturing)
10     NE.DAB.TOTL.ZS              Gross national expenditure (% of GDP)
20  NE.CON.GOVT.KD.ZG  General government final consumption expenditu...
30  NE.EXP.GNFS.KD.ZG    Exports of goods and services (annual % growth)
40  NV.MNF.TXTL.ZS.UN  Textiles and clothing (% of value added in man...
50  SP.POP.TOTL.MA.ZS            Population male (% of total population)
60  TM.VAL.AGRI.ZS.UN  Agricultural raw materials imports (% of merch...
70  TM.VAL.FUEL.ZS.UN            Fuel imports (% of merchandise imports)
80     EG.ELC.HYRO.ZS  Electricity production from hydroelectric sour...
90     EN.CO2.ETOT.ZS  CO2 emissions from electricity and heat produc...

In [17]:
indicator.to_csv("C:/Users/User/Desktop/[ΜΥΕ030ΠΛΕ045] Προχωρημένα Θέματα Τεχνολογίας και Εφαρμογών Βάσεων Δεδομένων/a/INDICATOR_new.csv",index=False)

# Δημιουργία πίνακα Μ

In [30]:
import pandas as pd 
import io

data_Μ = pd.read_csv("C:/Users/User/Desktop/[ΜΥΕ030ΠΛΕ045] Προχωρημένα Θέματα Τεχνολογίας και Εφαρμογών Βάσεων Δεδομένων/a/data_per_country.csv")

data_Μ

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
0,Greece,GRC,Chemicals (% of value added in manufacturing),NV.MNF.CHEM.ZS.UN,NaN,NaN,NaN,6.802491,6.656856,8.700563,...,7.783346,8.296627,12.080713,11.036588,10.302069,10.302258,NaN,NaN,NaN,NaN
1,United States,USA,Chemicals (% of value added in manufacturing),NV.MNF.CHEM.ZS.UN,NaN,NaN,NaN,10.404051,10.582964,10.399327,...,16.335679,15.855052,15.754095,15.930833,16.315987,16.315987,NaN,NaN,NaN,NaN
2,Portugal,PRT,Chemicals (% of value added in manufacturing),NV.MNF.CHEM.ZS.UN,NaN,NaN,NaN,9.332609,8.973807,9.413124,...,6.072750,5.845151,5.927200,5.924753,6.512717,6.512784,NaN,NaN,NaN,NaN
3,Mexico,MEX,Chemicals (% of value added in manufacturing),NV.MNF.CHEM.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.980213,11.618526,11.406517,10.083878,8.641424,9.026931,NaN,NaN,NaN,NaN
4,Japan,JPN,Chemicals (% of value added in manufacturing),NV.MNF.CHEM.ZS.UN,NaN,NaN,NaN,10.664572,11.031209,11.286598,...,11.653679,11.426323,11.634216,10.953702,10.953702,10.953702,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Greece,GRC,CO2 emissions from electricity and heat produc...,EN.CO2.ETOT.ZS,26.912568,26.474128,27.171492,27.622015,27.568042,29.960784,...,55.105270,59.579439,60.328059,58.105647,NaN,NaN,NaN,NaN,NaN,NaN
96,Japan,JPN,CO2 emissions from electricity and heat produc...,EN.CO2.ETOT.ZS,32.668388,33.042806,34.614748,34.565993,34.582071,35.075397,...,51.710531,53.617194,53.854912,53.096422,NaN,NaN,NaN,NaN,NaN,NaN
97,Mexico,MEX,CO2 emissions from electricity and heat produc...,EN.CO2.ETOT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,44.677299,46.007779,44.649751,44.066184,NaN,NaN,NaN,NaN,NaN,NaN
98,Portugal,PRT,CO2 emissions from electricity and heat produc...,EN.CO2.ETOT.ZS,9.046053,7.747489,11.111111,9.640103,13.244228,15.234822,...,40.688776,44.305738,42.968214,41.111890,NaN,NaN,NaN,NaN,NaN,NaN
99,United States,USA,CO2 emissions from electricity and heat produc...,EN.CO2.ETOT.ZS,27.635213,28.017193,28.325453,29.127992,29.138553,30.136187,...,48.227431,46.952348,46.630820,45.990406,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
import numpy as np
M=pd.DataFrame(np.repeat(data_Μ[["Country Code","Indicator Code"]].values,60,axis=0))
M.columns = data_Μ[["Country Code","Indicator Code"]].columns
M

     Country Code     Indicator Code
0             GRC  NV.MNF.CHEM.ZS.UN
1             GRC  NV.MNF.CHEM.ZS.UN
2             GRC  NV.MNF.CHEM.ZS.UN
3             GRC  NV.MNF.CHEM.ZS.UN
4             GRC  NV.MNF.CHEM.ZS.UN
...           ...                ...
5995          USA     EN.CO2.ETOT.ZS
5996          USA     EN.CO2.ETOT.ZS
5997          USA     EN.CO2.ETOT.ZS
5998          USA     EN.CO2.ETOT.ZS
5999          USA     EN.CO2.ETOT.ZS

[6000 rows x 2 columns]

In [32]:
YEAR=[i+1960 for i in range(60)]*100
len(YEAR)

6000

In [33]:
M["YEAR"] = YEAR

In [34]:
M["Measurement"] = measurement

In [35]:
M

     Country Code     Indicator Code  YEAR  Measurement
0             GRC  NV.MNF.CHEM.ZS.UN  1960          NaN
1             GRC  NV.MNF.CHEM.ZS.UN  1961          NaN
2             GRC  NV.MNF.CHEM.ZS.UN  1962          NaN
3             GRC  NV.MNF.CHEM.ZS.UN  1963     6.802491
4             GRC  NV.MNF.CHEM.ZS.UN  1964     6.656856
...           ...                ...   ...          ...
5995          USA     EN.CO2.ETOT.ZS  2015          NaN
5996          USA     EN.CO2.ETOT.ZS  2016          NaN
5997          USA     EN.CO2.ETOT.ZS  2017          NaN
5998          USA     EN.CO2.ETOT.ZS  2018          NaN
5999          USA     EN.CO2.ETOT.ZS  2019          NaN

[6000 rows x 4 columns]

In [25]:
M.to_csv("C:/Users/User/Desktop/[ΜΥΕ030ΠΛΕ045] Προχωρημένα Θέματα Τεχνολογίας και Εφαρμογών Βάσεων Δεδομένων/a/M.csv",index=False)